/**
* CSS Module for Header
*
*/

.cabbiHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cabbiLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabbiLogo {
    width: 50%;
    height: auto;
}
