/**
* CSS Module for Home page
*/

.homeMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeHeaderContainer {
    border-bottom: gray 1px solid;
    width: 40%;
}

.homeDescContainer {
    width: 35%;
    margin-top: 2em;
}

.homeDesc {
    width: 100%
}

.homeButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5em;
}
