/**
* CSS Module for Home page
*/

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descContainer {
    width: 35%;
    margin-top: 2em;

}

.desc {
    width: 100%
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}
